/* :host>>>.p-orderlist .p-orderlist-list .p-orderlist-item.p-highlight {
    color: #ffffff;
    background: #dee2e6;
}
:host>>>.p-orderlist-controls{
    display: none;

}

.lab{
    margin-left: 50px;
    margin-top: 50px;
}
.labinput, label{
   
    margin-top: 50px;

}
:host>>>.p-rating-icon{
    display: none;
}
:host>>>.p-button{
    display: none;
}
:host>>>.p-rating{
display: none;
}
.iconB{
    color: blueviolet;
}
.iconB:hover{
    color: blueviolet;
    cursor: pointer;
} */

:host ::ng-deep .p-button {
    margin: 0 .5rem 0 0;
    min-width: 10rem;
}

p {
    margin: 0;
}

.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

:host ::ng-deep .p-dialog .p-button {
    min-width: 6rem;
}


    /* img {
        width: 75px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        margin-right: 1rem;
    } */
/* 
    :host>>>.product-list-detail {
        flex: 1 1 0;
    } */

   

   

/* } */
:host>>>.p-button.p-component.p-button-icon-only.p-ripple{
    display: none;
}
@media screen and (max-width: 576px) {
    :host>>>.product-item {
        flex-wrap: wrap;
/* 
        .image-container {
            width: 100%;
            text-align: center;
        }

        img {
            margin: 0 0 1rem 0;
            width: 100px;
        } */
    }
}
:host>>>.product-list-action {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

:host>>>.product-category {
    vertical-align: middle;
    line-height: 1;
}
:host>>>.product-category-icon {
    vertical-align: middle;
    margin-right: .5rem;
}
:host>>>.product-item {
    display: flex;
    align-items: center;
    padding: .5rem;
    width: 100%;
}
tr th{
    color: darkgoldenrod;
}
body {
    height:100vh;
    width:100vw;
    background-color:rgb(115, 122, 138);
    overflow:hidden;
    font-family: Lato, "Trebuchet MS", "Verdana", "sans-serif";
  }
  
  #testbutton {
    width: 150px;
    height:50px;
    border-radius:180px;
    position:relative;
    left:calc(50% - 75px);
    top:calc(50% - 25px);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    cursor:pointer;
    line-height:12px;
  }
  
  #testbutton:before {
    content:'';
    z-index:1;
    position:absolute;
    display:block;
    width:80%;
    height:70%;
    top:15%;
    left:10%;
    transition: 0.3s opacity ease-in-out;
    filter:blur(15px);
    opacity:0;
    background: linear-gradient(60deg, #eaf586, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  }
  
  #testbutton:hover:before {
    opacity:1;
    transition: 0.3s opacity ease-in-out;
    filter:blur(25px);
    background: linear-gradient(60deg, #f7f433, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);  
  }
  
  #testbutton:after {
    content:'SAVE ORDER!';
    text-align:center;
    line-height:40px;
    font-size:18px;
    color:rgba(235,235,235,1);
    font-weight:bold;
    z-index:5;
    position:absolute;
    display:block;
    border-radius:180px;
    width:92%;
    height:80%;
    top:10%;
    left:4%;  
    background-color:rgb(92, 84, 79);
  }