<p-table #dt [value]="pharmacies" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
    [globalFilterFields]="['name','country.name','representative.name','status']">
    <ng-template pTemplate="caption">
        <div class="table-header row">
            <div class="col">
                <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
                    class="p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
                <p-button (click)="showModalDialog()" icon="pi pi-external-link" label="Add New Pharmacy" style="margin-left: 30px;"></p-button>

            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Pharmacy Name</th>
            <th>Telephone</th>
            <th>Email</th>
            <th>User Name</th>
            <th>Role</th>
            <th>Pharmacy Type</th>
        </tr>
        <tr>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pharmacy>
        <tr>
            <td class="nameStyle">
                {{pharmacy.name}}
            </td>
            <td>
                {{pharmacy.telephone}}
            </td>
            <td>
                {{pharmacy.email}}
            </td>
            <td>
                <table *ngFor="let i of pharmacy.users">
                    <tr>
                        <td style="overflow: hidden;">
                            {{i.userName}}
                            <hr>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table *ngFor="let i of pharmacy.users">
                    <tr>
                        <td>
                            {{i.role}}
                            <hr>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="font-weight: bold;">{{pharmacy.pharmacyType}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="6">No Pharmacies found.</td>
        </tr>
    </ng-template>
</p-table>



<div id="content" #content>

</div>
<!-- for adding dialog  -->


<!-- For report -->
<table id="contentToConvert" class="table" hidden>
    <thead>
        <tr>
            <th style="font-size: 15px;">Pharmacy Name </th>
            <th style="font-size: 15px;">Telephone</th>
            <th style="font-size: 15px;">Email</th>
            <th style="font-size: 15px;">User Name</th>
            <th style="font-size: 15px;">Role</th>
            <th style="font-size: 15px;">Pharmacy Type</th>

        </tr>
    </thead>
    <ng-container>
        <tbody>
            <tr *ngFor="let doc of pharmacies; let i = index">

                <td class="alert alert-info">
                    {{doc.name}}
                </td>
                <td class="alert alert-info">
                    {{doc.telephone}}
                </td>
                <td class="alert alert-info">
                    {{doc.email}}
                </td>
                <td>
                    <div>


                        <table *ngFor="let i of doc.users">
                            <tr>
                                <td>
                                    <div>
                                        {{i.userName}}
                                    </div>
                                </td>
                                <td><br></td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td>
                    <table *ngFor="let i of doc.users">
                        <tr>
                            <td>
                                {{i.role}}
                            </td>
                            <td>
                                <div>
                                    |<br>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="font-weight: bold;">{{doc.pharmacyType}}</td>

            </tr>

        </tbody>
    </ng-container>
</table>



<p-dialog header="Header" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <h1 style="color: crimson; margin-left: 30px;">ADD NEW PHARMACY</h1>
    <div class="p-col-12 p-md-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" pInputText placeholder="Enter Pharmacy Name" [(ngModel)]="pharmacy.name">
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">ADD</span>
            <input type="text" pInputText placeholder="Enter Pharmacy Address" [(ngModel)]="pharmacy.address">
            <!-- <span class="p-inputgroup-addon">.00</span>       -->
        </div>
    </div>
    <div class="p-col-12 p-md-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">AR</span>
            <input type="text" pInputText placeholder="Enter Pharmacy Telephone" [(ngModel)]="pharmacy.telephone">
            <!-- <span class="p-inputgroup-addon">.00</span>       -->
        </div>
    </div>
    <div class="p-col-12 p-md-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">AR</span>
            <input type="text" pInputText placeholder="Enter Pharmacy Email" [(ngModel)]="pharmacy.email">
            <!-- <span class="p-inputgroup-addon">.00</span>       -->
        </div>
    </div>
    <div class="p-col-12 p-md-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">AR</span>
            <input type="text" pInputText placeholder="Enter Pharmacy location" [(ngModel)]="pharmacy.location">
            <!-- <span class="p-inputgroup-addon">.00</span>       -->
        </div>
    </div>
    <div class="p-field-radiobutton">
        <p-radioButton name="city" value="Pharmacy" [(ngModel)]="pharmacy.pharmacyType">
        </p-radioButton>
        <label for="city4" style="margin-left: 10px;">Pharmacy</label>
        <p-radioButton name="city" value="Pledge" [(ngModel)]="pharmacy.pharmacyType">
        </p-radioButton>
        <label for="city4" style="margin-left: 10px;">Pledge</label>
    </div>
    <div class="p-col-12 p-md-4">
        <h4 style="font-weight: bold; margin-left: 15px;">Is Active</h4>
        <p-inputSwitch [(ngModel)]="pharmacy.isActive" name="IsActive" class="col" (click)="!pharmacy.isActive">
        </p-inputSwitch>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="addNewPharmacy()" label="Yes" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-times" (click)="displayModal=false" label="No"></p-button>
    </ng-template>
</p-dialog>